* {
  font-family: "Trebuchet MS", sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.navigation {
  display: flex;
  background-color: black;
  border-bottom: 2px solid white;
  width: 100vw;
  height: 9vh;
  position: fixed;    
  transition-duration: 0.5s;
}

footer {
  width: 99.8vw;
  height: 10vh;
}

.home {
  font-size: 5vh;
  border-radius: 15px;
  border: 2px solid white;
  height: 7vh;
  width: 16vw;
  transition-duration: 0.4s;
  color: white;
  margin: 0 0.5vw 0 0.5vw;
}

.home:hover {
  background-color: white;
  border: 2px solid white;
  color: black;
  width: 17vw;
  height: 8vh;
  font-size: 6vh;
  margin: 0;
}

.default {
  font-size: 5vh;
  border-radius: 15px;
  border: 2px solid white;
  width: 12vw;
  height: 7vh;
  transition-duration: 0.4s;
  color: white;
  margin: 0 0.5vw 0 0.5vw;
}

.default:hover {
  background-color: white;
  border: 2px solid white;
  color: black;
  width: 13vw;
  height: 8vh;
  font-size: 6vh;
  margin: 0;
}

.OpenMenu {
  width: 10%;
  border: 2px solid white;
  height: 45px;
  background-color: black;
  color: white;
  z-index: 2;
}

.main {
  display: flex;
  width: 99.8vw;
  height: 88vh;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.updates, .shop, .projects {
  display: flex;
  width: 32vw;
  height: 88vh;
  border: 2px solid white;
  bottom: 0;
  flex-direction: column;
  margin: 1vh; 
  justify-content: flex-end;
}

.update {
  width: 32vw;
  height: 17.5vh;
  border: 2px solid white;
  border-radius: 15px;
  margin-bottom: 1vh;
  margin-top: 1vh;  
}

.update1 {
  width: 32vw;
  height: 17.5vh;
  border: 2px solid white;
  border-radius: 15px;
  margin-bottom: 3vh;
  margin-top: 1vh;  
}

.shopRow {
  display: flex;
  flex-direction: row;
  width: 32vw;
  height: 19vh;
}

.shopRow1 {
  display: flex;
  flex-direction: row;
  width: 32vw;
  height: 19vh;
  margin-bottom: 9.5vh;
}

.shopRow2 {
  width: 32vw;
  height: 19vh;
}

.smallShopItem {
  width: 8.55vw;
  height: 17.5vh;
  border: 2px solid white;
  margin: 0.5vw;
  align-items: center;
}

.largeShopItem {
  width: 28vw;
  height: 17.5vh;
  border: 2px solid white;
  margin: 1vh;
  margin-bottom: 3vh;
}

.tallShopItem {
  width: 8.55vw;
  height: 35vh;
  border: 2px solid white;
  margin: 1vh;
}

.longShopItem {
  width: 18.5vw;
  height: 35vh;
  border: 2px solid white;
  margin: 1vh;  
}

.longerShopItem {
  width: 18.5vw;
  height: 17.5vh;
  border: 2px solid white;
  margin: 1vh;  
}

.Title1 {
  font-size: 4.5vh;
}

.underTitle {
  font-size: 3vh;
  animation: underTitle 15s infinite alternate;
}

/* width */
::-webkit-scrollbar {
  width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #808080;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #676767;
}

@keyframes underTitle {
  0% {color: white;}
  20% {color: red;}
  40% {color: orange;}
  60% {color: green;}
  80% {color: fuchsia;}
  100% {color: lightblue;}
}

